.btn
	font-family: Jost
	font-style: normal
	font-weight: 500
	font-size: 16px
	text-transform: uppercase
	color: #FFF
	display: inline-block
	border: none
.btn-blue
	background: #53AAEC
	box-shadow: 0px 4px 10px rgba(83, 170, 236, 0.7)
	border-radius: 30px
	padding-top: 18px
	padding-bottom: 18px
	&:hover
		text-decoration: none
		color: #fff

.slider
	&-buttons
		position: absolute
		width: 100%
		top: calc(50% - 6px)
		left: 0
		button
			display: block
			height: 25px
			width: 14px
			background: url('../img/reviews/slider-button.png') center no-repeat
			border: none
			position: absolute
	&-prev
		left: -24px
	&-next
		right: -24px
		transform: rotate(180deg)