.header
	padding: 12px 0
	position: fixed
	width: 100%
	top: 0
	left: 0
	background: #fff
	z-index: 10
	&-phones
		text-align: right
	&-phone
		font-family: Jost
		font-weight: bold
		font-size: 18px
		color: #3D3D3D
		&:hover
			color: #3d3d3d
	&-link
		font-family: Jost
		font-weight: 500
		font-size: 16px
		color: #71BBDF
		border-bottom: 1px dashed #71BBDF
		transition: all .3s ease
		&:hover
			text-decoration: none
			color: #007bff
			border-bottom: 1px dashed #007bff
.nav
	&-list
		display: flex
		justify-content: space-between
		padding: 0 15px
	&-item
		font-family: Jost
		font-weight: normal
		font-size: 14px
		text-transform: uppercase
		color: #868686
		list-style-type: none
		border-bottom: 1.5px solid transparent
		transition: all .3s ease
		a
			&:hover
					text-decoration: none
					color: #868686
		&:hover
			border-bottom: 1.5px solid #868686
.logo
	display: flex
	align-items: center
	&-title
		font-family: Montserrat
		font-weight: bold
		font-size: 16px
		color: #3D3D3D
		margin-left: 10px
		max-width: 150px
		a
			&:hover
				text-decoration: none
				color: #3d3d3d
.padding-top
	padding-top: 96px