.info
	padding-top: 141px
	padding-bottom: 56px
	position: relative
	&-container
		max-width: 1520px
		margin: 0 auto
		background: linear-gradient(164.88deg, rgba(190, 226, 248, 0.2) -39.64%, rgba(100, 173, 219, 0.2) 15.36%, rgba(25, 168, 221, 0.2) 86.07%);
		border-radius: 20px
		padding: 110px 0 50px
		position: relative
		z-index: 1
	.section-head
		top: 60px
		border: 10px solid #fff
	&-text
		font-family: Jost
		font-style: normal
		font-weight: normal
		font-size: 18px
		color: #5D5D5D
		margin-bottom: 20px
	&::before
		content: ''
		display: block
		width: 178px
		height: 174px
		background: url('../img/info/ice.png') center no-repeat
		position: absolute
		top: 15px
		left: 12%
		z-index: 0