.popup
	background: #FFF
	mix-blend-mode: normal
	border-radius: 10px
	padding: 50px 35px
	display: none
	&-head
		font-family: Rubik
		font-weight: 500
		font-size: 35px
		text-align: center
		color: #0D012B
		margin-bottom: 40px
	&-conf
		font-family: Jost
		font-weight: 300
		font-size: 16px
		color: #5D5D5D
		margin-top: 25px
		a
			text-decoration: underline
			&:hover
				color: inherit
	&-order
	&#conf
		ul, ol
			padding-left: 20px
			margin-bottom: 15px
	&#pharm-choice
		// width: 1160px
a.fancybox-close
	background-image: none
	top: 25px
	right: 25px
	width: 20px
	height: 20px
	&::before
		content: ''
		display: block
		width: 100%
		height: 2px
		background: #cacaca
		position: absolute
		top: calc(50% - 1px)
		transform: rotate(45deg)
	&::after
		content: ''
		display: block
		width: 100%
		height: 2px
		background: #cacaca
		position: absolute
		top: calc(50% - 1px)
		transform: rotate(-45deg)
.composition
	&-title
		font-family: Jost
		font-weight: 600
		font-size: 18px
		color: #53AAEC
		margin-bottom: 12px
	&-text
		font-family: Jost
		font-weight: normal
		font-size: 18px
		color: #868686
		margin-bottom: 30px
.fancybox-inner
	background: #fff !important
	height: auto !important